body{
    background-color: var(--primary-dark);
    color: var(--primary-text);
}

footer{
    text-align: center;
    color: var(--secondary-text);
    background-color: var(--secondary);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

a {
    color: var(--secondary-text);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    /*color: var(--primary-text);*/
    /*text-decoration: none;*/
}

.container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar_bar {
    color: var(--secondary-text);
    background-color: var(--secondary);
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.navbar-toggler {
    color: var(--primary-text) !important;
    border: none;
}

.navbar-toggler-icon {
    color: var(--primary-text) !important;
}

.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar_divider {
    width: 1px;
    height: 2em;
    background-color: var(--secondary-text);
    margin: 0 2rem;
}

.modal-content {
    border: none;
    background-color: var(--primary);
    color: var(--primary-text);
}

.modal-header {
    border: none;
    background-color: var(--secondary);
    color: var(--secondary-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-body {
}

.modal-footer {
    border: none;
    background-color: var(--secondary);
    color: var(--secondary-text);
}

.card {
    border: none;
    background-color: var(--primary);
    color: var(--primary-text);
}

.card-header {
    background-color: var(--secondary);
    color: var(--secondary-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    background-color: var(--secondary);
    color: var(--secondary-text);
}

.course_card {
    height: 35vh;
}

.course_card * {

}

.course_card .card-header {
    min-height: 40px;
    height: 15%;
    background-color: var(--secondary);
    color: var(--secondary-text);

    white-space: nowrap;
    text-overflow: ellipsis;

}

.course_card .card-body {
}

.course_card .card-footer {
    min-height: 40px;
    height: 35%;
    color: var(--secondary-text);

    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown {
    /*color: var(--primary-text);*/
    /*background-color: var(--primary);*/
    position: relative;
    z-index: 1000; /* optional for stacking issues */
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-menu {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 10px;
}

.dropdown-item {
    color: var(--primary-text);
}

.dropdown-item:hover {
    background-color: var(--primary-light);
    color: var(--primary-text);
}

.btn {
    /*color: var(--primary-text);*/
    /*background-color: var(--primary);*/
}

.btn-primary {
    color: var(--secondary-text);
    background-color: var(--secondary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--secondary-light);
}

.course_details_header {
    height: 25vh;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid var(--primary-text);
}

.assignment_date_row, .assignment_name_row {
    border-left: rgba(0, 0, 0, 0.35) 1px solid;
    border-right: rgba(0, 0, 0, 0.35) 1px solid;
    border-bottom: rgba(0, 0, 0, 0.35) 1px solid;
}