:root {
    --primary: rgb(255, 255, 255);
    --primary_dark: rgb(241, 241, 241);
    --primary_light: rgb(177, 76, 76);

    --primary_text: rgb(0, 0, 0);

    --logout-link: rgb(168, 39, 39);
}

.container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar_bar {
    color: var(--primary_text);
    background-color: var(--primary);
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.navbar-toggler {
    color: var(--primary_text) !important;
    border: none;
}

.navbar-toggler-icon {
    color: var(--primary_text) !important;
}

.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar_divider {
    width: 1px;
    height: 2em;
    background-color: var(--primary_text);
    margin: 0 2rem;
}

body{
    background-color: var(--primary_dark);
    color: var(--primary_text);
}

footer{
    text-align: center;
    color: var(--primary_text);
    background-color: var(--primary);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}


.card {
    border: none;
    background-color: var(--primary);
    color: var(--primary_text);
}

.card-header {
    background-color: var(--primary_light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course_card {
    height: 35vh;
}

.course_card .card-header {
    min-height: 40px;
    height: 15%;
    background-color: var(--primary_light);

    white-space: nowrap;
    text-overflow: ellipsis;
}

.course_card .card-body {
}

.course_card .card-footer {
    min-height: 40px;
    height: 35%;
    background-color: var(--primary_light);

    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course_card a {
    text-decoration: none;
}

.dropdown {
    /*color: var(--primary_text);*/
    /*background-color: var(--primary);*/
    position: relative;
    z-index: 1000; /* optional for stacking issues */
}

.btn {
    color: var(--primary_text);
    background-color: var(--primary);
}

.dropdown-menu {
    color: var(--primary_text);
    background-color: var(--primary);
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary_text);
}

.course_details_header {
    height: 25vh;
}

.account-dropdown :hover {
    cursor: pointer;
}