:root {
    --primary: rgb(237, 237, 237);
    --primary-dark: rgb(213, 213, 213);
    --primary-light: rgb(255, 255, 255);

    --secondary: rgb(53, 104, 43);
    --secondary-light: rgb(68, 129, 55);

    --primary-text: rgb(0, 0, 0);

    --secondary-text: rgb(255, 255, 255);

    --logout-link: rgb(168, 39, 39);
}