:root {
    --primary: rgb(27, 27, 27);
    --primary-dark: rgb(18, 18, 18);
    --primary-light: rgb(73, 73, 73);

    --secondary: rgb(145, 54, 54);
    --secondary-light: rgb(163, 65, 65);

    --primary-text: rgb(255, 255, 255);

    --secondary-text: rgb(255, 255, 255);

    --logout-link: rgb(168, 39, 39);
}