:root {
    --primary: rgb(237, 237, 237);
    --primary-dark: rgb(213, 213, 213);
    --primary-light: rgb(255, 255, 255);

    --secondary: rgb(143, 39, 122);
    --secondary-light: rgb(174, 60, 151);

    --primary-text: rgb(0, 0, 0);

    --secondary-text: rgb(255, 255, 255);

    --logout-link: rgb(168, 39, 39);
}