:root {
    --primary: rgb(237, 237, 237);
    --primary-dark: rgb(213, 213, 213);
    --primary-light: rgb(255, 255, 255);

    --secondary: rgb(145, 54, 54);
    --secondary-light: rgb(163, 65, 65);

    --primary-text: rgb(0, 0, 0);

    --secondary-text: rgb(255, 255, 255);

    --logout-link: rgb(168, 39, 39);
}